@use "../../assets/sass/variables"as *;

.beerCard {
   display: inline-block;
   width: 18rem;
   padding: 0.5rem;
   border: 0.5rem solid $primaryBoxColor;
   border-radius: 10%;
   margin-bottom: 1.5rem;
   background-color: $secondaryBoxColor;

}

.completed-card {
   margin: 5vw;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding-top: 18rem;
}



@media screen and (min-width: 1024px) {

   .completed-card {
      margin: 2rem auto;
      padding-left: 18rem;
      padding-top: 0;
   }
}