.beer-card {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: end;
   height: 30rem;
   gap: 0.5rem;

   &__image {
      height: 25rem;
      width: auto;
   }
}